.section{
    cursor: pointer;
    border:1px solid white;
    padding:0px;
    margin: 0px;
    background:rgb(180, 2, 2);
    text-align: center;
    height: 150px;
    color: white;
    padding-top:1rem;
    .icon{
        font-size:50px;
        transition: all 0.5s;
        .zmdi{
            font-size: 50px !important;
        }
    }
    .divider{
        display: block;
    }
    .text{
        font-size: 18px;
        font-weight:600;
        transition: all 0.5s;
    }
}
.section:hover{
    background:rgb(218, 3, 3);
    .icon{
        font-size:48px;
    }
    .text{
        font-size: 16px;
    }
}
